apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "calendar-calendar.fullname" . }}-config
data:
  config.yaml: |
    logging:
      level: {{ .Values.config.logging.level }}
    server:
      http-host: {{ .Values.config.server.httpHost }}
      http-port: {{ .Values.config.server.httpPort }}
      grpc-host: {{ .Values.config.server.grpcHost }}
      grpc-port: {{ .Values.config.server.grpcPort }}
    db:
      in-memory: {{ .Values.config.db.inMemory }}
      host: {{ .Values.config.db.host }}
      port: {{ .Values.config.db.port }}
      user: {{ .Values.config.db.user }}
      password: {{ .Values.config.db.password }}
      dbname: {{ .Values.config.db.dbname }}
      tables:
        schema: {{ .Values.config.db.schema }}